$pathIcon:  '/asset/icon/';
$pathImage: '/asset/image/';

$bgBlack0: #000;
$bgBlack1: #131313;
$bgBlack2: #262626;
$bgBlack3: #303030;

$buttonColor0: #ABA500;
$buttonColor1: #FFEB3B;

$colorWhite0: #DDD;
$colorWhite1: #BBB;
$colorWhite2: #AAA;
$colorWhite3: #909090;

$fontDefault: "Arial", sans-serif;
$fontPre:     "Courier New", sans-serif;

$inputFocus: #7B9DD4;
$inputPlaceholder: #717171;

$linkColor0: #006971;
$linkColor1: #2EFFE6;

$pathAsset: '/asset/';
$pathIcon:  $pathAsset + 'icon/';
$pathImage: $pathAsset + 'image/';

$preBorder: solid #005AFF;
