/**********************************************************************************************************************\

    $GENERAL
    $FOOTER
    $MAIN NAVIGATION
    $ACTION BUTTONS
    $PROMO
    $NETWORK DETAILS
    $NICHES
    $CONTINUE & SKIP
    $TITLED SECTION
    $CONTENT SHADOW
    $SCENES
    $MEDIA QUERIES
    $SIMULATOR

\**********************************************************************************************************************/

/**********************************************************************************************************************\
    $GENERAL
\**********************************************************************************************************************/

.nav-tabs > li > a {
    border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: 0;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background: none;
}

.ppp-post-login-body {
    background: #111;
    color: #989898;
    overflow: visible;
    text-transform: none;
}

.bz-bg,
.mf-bg,
.tw-bg,
.rk-bg,
.gf-bg,
.bb-bg,
.da-bg,
.bg-bg,
.rg-bg,
.wkd-bg,
.dp-bg,
.ptv-bg,
.dx-bg,
.wc-bg,
.fn-bg {
    color: #666;
    overflow: visible;
    text-transform: none;
}

.post-login-column {
    margin: 0 auto;
    width: 600px;
}

.product-wc .post-login-left-column {
    width: 519px;
}

.post-login-right-column {
    float: right;
    min-width: 327px;
}

.product-wc .post-login-right-column {
    width: 441px;
}

.post-login-main-nav li a {
    padding: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

/**********************************************************************************************************************\
    $FOOTER
\**********************************************************************************************************************/
.footer {
    margin-top: 20px !important;
    padding-left: 0;
}

.footer > div {
    margin-left: 0;
    padding-left: 0;
}

.footer .compliance {
    margin-bottom: 12px;
    line-height: 1.14em;
}

.footer .compliance > a {
    color: #ffffff;
    text-decoration: underline;
}

.footer .compliance > a:hover, a:focus {
    color: #0097c3;
    text-decoration: underline;
}

.footer p a {
    color: #FFF;
    text-decoration: underline;
}

.footer nav ul {
    margin: 0;
    padding: 0;
}

.footer nav ul li {
    border-right: 1px solid #666;
    display: inline-block;
    padding: 3px 20px;
}

.footer nav ul li a {
    font: 300 .8em/1em 'Open Sans', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer nav ul li:first-child {
    padding: 3px 20px 3px 0;
}

.footer nav ul li:last-child {
    border-right: 0;
}

.copyright,
.compliance {
    color: #666;
    display: block;
    float: left;
    font: 300 .9em/1em 'Open Sans', sans-serif;
    margin: 12px 0;
    position: relative;
}

.footer-logo {
    background: url(../../img/common/sprites/top-menu-sprite.png) 0 -41px no-repeat;
    height: 26px;
    left: 0;
    margin-right: 10px;
    position: absolute;
    top: 0;
    width: 19px;
}

.copyright > span {
    display: block;
    line-height: 15px;
    margin-left: 25px;
}

/**********************************************************************************************************************\
    $MAIN NAVIGATION
\**********************************************************************************************************************/
.post-login-main-nav {
    border-bottom: 5px solid #007090;
    font: 300 16px/1em 'Open Sans', sans-serif;
    position: relative;
    z-index: 10;
}

.post-login-main-nav li {
    margin-left: 4px;
    width: 198px;
    position: relative;
}

.post-login-main-nav li:first-child {
    margin-left: 0;
}

.post-login-main-nav li.active {
    width: 209px;
}

.post-login-main-nav a {
    color: #fff;
    display: block;
    height: 43px;
    line-height: 43px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.cssgradients .post-login-main-nav a {
    background-color: #222;
    text-transform: uppercase;
}

.post-login-main-nav li.active {
    margin-top: 0;
}

.post-login-main-nav li.active a {
    color: #fff;
}

.cssgradients .post-login-main-nav li.active a {
    background-color: #007090;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.post-login-main-nav li.home a {
    padding-left: 46px;
    text-align: left;
    text-transform: uppercase;
}

.post-login-main-nav li.home .icn {
    bottom: 12px;
    display: block;
    height: 19px;
    left: 24px;
    position: absolute;
    width: 14px;
}

.post-login-main-nav li.home.active .icn {
    background-position: 0 -3px;
}

/**********************************************************************************************************************\
    $ACTION BUTTONS
\**********************************************************************************************************************/
.post-login-action-button {
    display: inline-block;
    font: 13px/1em 'share-regular', Arial, sans-serif;
    margin-left: -3px;
    margin-right: 10px;
    padding-left: 3px;
    position: relative;
}

.post-login-action-button.disabled {
    cursor: default;
}

.post-login-action-button:hover {
    background-position: 0 -80px;
}

.post-login-action-button.disabled:hover {
    background-position: 0 -54px;
}

.post-login-action-button,
.post-login-action-button:hover,
.post-login-action-button:active,
.post-login-action-button:visited {
    color: #989898;
    text-decoration: none;
}

.post-login-action-button em {
    display: block;
    font-style: normal;
    height: 13px;
    margin-right: -3px;
    padding: 7px 9px 6px 6px;
}

.post-login-action-button:hover em {
    background-position: 100% -80px;
}

.post-login-action-button.disabled:hover em {
    background-position: 100% -54px;
}

.post-login-action-button .text-shadow {
    display: inline-block;
}

.post-login-action-button .icn {
    background-repeat: no-repeat;
    display: block;
    float: left;
}

.post-login-action-button .icn.go-prev {
    background-position: 0 -23px;
    height: 13px;
    margin: -1px -1px 0 0;
    width: 6px;
}

.post-login-action-button .icn.go-next {
    background-position: -6px -23px;
    height: 13px;
    margin: -1px -3px 0 2px;
    width: 6px;
}

.post-login-action-button .icn.trash {
    background-position: 0 -36px;
    height: 10px;
    margin-right: 6px;
    width: 9px;
}

.post-login-action-button .icn.l-arr {
    background-position: 0 -46px;
    height: 8px;
    margin-right: 7px;
    margin-top: 2px;
    width: 9px;
}

/* fade */
.post-login-fade {
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.post-login-fade .loading {
    display: none;
    height: 11px;
    left: 50%;
    margin: -6px 0 0 -21px;
    position: absolute;
    top: 50%;
    width: 43px;
}

/**********************************************************************************************************************\
    $CHANNELS
\**********************************************************************************************************************/
.channels-box{
    width: 100%;
}

.channel-row {
    display: flex;
    justify-content: center;
}

.title-box {
    position: relative;
}

.title-box:after {
    content: " ";
    width: 15px;
    height: 31px;
    background-image: url("//ppp.contentdef.com/assets/gan/img/pages/product/pg_separator.gif?v={build.id}");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -125px;

}

.channel-thumbnail{
    display: inline-block;
    box-shadow: 0 0 4px 1px #222;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: calc(33% - 20px);
    margin-right: 10px;
    vertical-align: top;
}

.channel-thumbnail:last-child {
    margin-right: 0;
}

.channel-thumbnail a.logo-box{
    border-bottom: 1px solid #000;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    box-sizing: border-box;

    background-color: #433d39;
    background-size: cover;
    background-repeat: no-repeat;
}

.channel-thumbnail .hover-box.channel-hover {
    position: absolute;
    width: 100%;
    top: calc(100% - 36px);
}

.section-general-title.channels .right > span{
    display: inline-block;
    line-height: 33px;
    float: left;
}

.section-general-title.channels span.exclusive{
    padding-right: 10px;
}

.logo-exclusive{
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/pp_gay_main_sprite.png?v={build.id}') no-repeat -10px -23px;
    display: block;
    height: 46px;
    margin-top: 2px;
    width: 133px;
}

.channel-bottom-info{
    text-align: center;
    background-color: #3e3e3e;
    text-decoration: none;
    text-transform: uppercase;
    color: #979797;
    font: 300 16px/36px "Open Sans",sans-serif;
}

.channel-bottom-info a{
    display: block;
    color: #989898;
    text-decoration: none;
    position: relative;
}

.channel-bottom-info a.txt-left {
    text-align: left;
}

.channel-bottom-info .purchase-link .price {
    position: absolute;
    right: 10px;
    top: 0px;
    color: #979797;
}

.channel-bottom-info .purchase-link .price.current {
    color: #EF3424;
    top: 4px;
    font: normal 14px/14px 'Open Sans', sans-serif;
}

.channel-bottom-info .purchase-link.single-line {
    text-align: left;
    padding: 0 10px;
}

.channel-bottom-info .purchase-link .price.regular {
    color: #979797;
    font-size: 10px;
    top: 7px;
}

a.logo-box.bob{
    background-image: url("../../img/pages/product/channels/channel-bob.jpg?v={build.id}");
}

a.logo-box.bear{
    background-image: url("../../img/pages/product/channels/bear.jpg?v={build.id}");
}

a.logo-box.tkch{
    background-image: url("../../img/pages/product/channels/channel-twink.jpg?v={build.id}");
}

a.logo-box.none{
    background-image: url("../../img/pages/product/more-channels.jpg?v={build.id}");
    cursor: default;
}

.more-channels a.logo-box{
    cursor: default;
}

a.logo-box .channel-shadow {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a.logo-box span.new{
    background: url("../../img/pages/product/new.png?v={build.id}");
    width: 51px;
    height: 21px;
}

.thumbnail-content div.coming-soon{
    position: absolute;
    background: url("../../img/pages/product/coming-soon.png?v={build.id}");
    width: 104px;
    height: 25px;
    z-index: 10;
}

/**********************************************************************************************************************\
    $PROMO
\**********************************************************************************************************************/
.promo-container {
    margin-bottom: 35px;
    position: relative;
    text-align: center;
}

.section-general-title {
    color: #999;
    font-size: 15px;
    height: 32px;
    line-height: 33px;
    margin: 33px 0 20px;
    padding: 0 10px;
    text-transform: uppercase;
    background-color: #222222;
}

.section-general-title:first-child {
    margin-top: 0;
}

.section-general-title .pl-delim {
    height: 32px;
    margin-left: 15px;
    width: 19px;
}

.post-login-home-section .section-body {
    background-color: #2B2B2B;
    padding: 20px;
}

.post-login-home-section .network-thumbnail.live-show {
    border: 1px solid #292522;
    margin: 14px 0 0 14px;
}

.borderradius .post-login-home-section .network-thumbnail {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.borderradius .post-login-home-section .network-thumbnail.live-show {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.post-login-home-section .thumbnail-content {
    position: relative;
}

.post-login-home-section .network-thumbnail .logo-box {
    display: block;
    height: 88px;
    padding: 3px;
    position: relative;
    width: 169px;
}

.post-login-network-logo {
    background: url("../../../global/img/common/sprite.png?v={build.id}") 0 -32px no-repeat;
    display: block;
    height: 100%;
}

/* new changes for generated sprite WEPPP-11866 */
.post-login-network-logo > div {
    background: url('../../img/common/sprites/logos/store-logos-sprite.png?v={build.id}') no-repeat 0 0;
    bottom: 0;
    height: 80px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 162px;
}

.post-login-home-section .network-thumbnail .logo-bkgr.grid {
    height: 88px;
}

.post-login-home-section .network-thumbnail .logo-bkgr.black {
    background-color: #000;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* Netscape */
    height: 87px; /* Safari 1.x */
    opacity: 0; /* IE 8 */
    transition: opacity .2s; /* IE 5-7 */
    -moz-opacity: 0; /* Good browsers */
    -khtml-opacity: 0;
}

.post-login-home-section .network-thumbnail:hover .logo-bkgr.black {
    filter: alpha(opacity=40); /* Netscape */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* Safari 1.x */
    opacity: 0.4; /* IE 8 */
    -moz-opacity: 0.4; /* IE 5-7 */
    -khtml-opacity: 0.4; /* Good browsers */
}

.post-login-home-section .network-thumbnail .logo-bkgr.logo {
    top: 44px;
}

.post-login-home-section .network-thumbnail .logo-bkgr.logo > div {
    background-repeat: no-repeat;
}

.post-login-home-section .network-thumbnail .logo-bkgr.standalone {
    background-position: center;
    background-repeat: no-repeat;
    height: 88px;
}

.post-login-home-section .network-thumbnail .purchase-links {
    margin-top: -1px;
    overflow: hidden;
    position: relative;
}

.post-login-home-section .network-thumbnail .purchase-link {
    background-color: #3E3E3E;
    border-bottom: 1px solid #4d4d4d;
    color: #979797;
    display: block;
    font: 300 12px/5px 'Open Sans', sans-serif;
    height: 36px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: 1px;
}

.post-login-home-section .network-thumbnail .purchase-link:last-child {
    border-bottom: none;
}

.post-login-home-section .network-thumbnail .purchase-link.recurring {
    border-top: 1px solid #000;
}

.post-login-home-section .network-thumbnail .purchase-link.single-line {
    height: 72px;
    line-height: 70px;
    text-align: center;
}

.post-login-home-section .network-thumbnail .purchase-link.single-line .renew {
    color: #16afe4;
}

.post-login-home-section .network-thumbnail .purchase-link.single-line .lock-icon {
    display: inline-block;
    height: 21px;
    margin: 0 5px -5px 0;
    width: 18px;
}

.post-login-home-section .network-thumbnail:hover .purchase-link.single-line,
.post-login-home-section .network-thumbnail:hover .purchase-link.single-line .renew {
    color: #0097c3;
}

.post-login-home-section .network-thumbnail:hover .purchase-link.single-line .lock-icon {
    background-position: 0 -83px;
}

.post-login-home-section .network-thumbnail .purchase-link .title {
    left: 10px;
    position: absolute;
    top: 15px;
}

.post-login-home-section .network-thumbnail .purchase-link:hover .title {
    color: #0097c3;
}

.post-login-home-section .network-thumbnail .purchase-link .price {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #979797;
}

.post-login-home-section .network-thumbnail .purchase-link .price.current {
    color: #EF3424;
    top: 7px;
}

.post-login-home-section .network-thumbnail .purchase-link .price.regular {
    color: #979797;
    font-size: 10px;
    top: 21px;
}

.post-login-home-section .network-thumbnail img {
    display: block;
}

.post-login-home-section .network-thumbnail .info {
    background-color: #292522;
    color: #b3b3b3;
    font-family: 'share-regular', Arial, sans-serif;
    line-height: 19px;
    padding: 6px;
    text-transform: none;
}

.post-login-home-section .network-thumbnail .info time {
    color: #6a6a6a;
    font-size: 11px;
}

.post-login-home-section .network-thumbnail .info .upcoming {
    background-color: #999;
    color: #292522;
    display: inline-block;
    font: 8px/10px Arial, sans-serif;
    left: 5px;
    padding: 0 4px;
    position: relative;
    text-transform: uppercase;
    top: -1px;
}

.borderradius .post-login-home-section .network-thumbnail .info .upcoming {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.borderradius .post-login-home-section .network-thumbnail .info .title {
    display: block;
    font-size: 12px;
}

.post-login-home-section .network-thumbnail .order {
    background-color: #353230;
    padding: 8px 6px;
    position: relative;
}

.post-login-home-section .network-thumbnail .order .price {
    bottom: 13px;
    color: #b3b3b3;
    font: 13px/1em 'share-regular', sans-serif;
    position: absolute;
    right: 13px;
}

.post-login-home-section .network-thumbnail.extra .brd {
    border: 1px solid #ef3424;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    left: -1px;
    opacity: 0;
    position: absolute; /* Netscape */
    top: -1px; /* Safari 1.x */
    transition: opacity .2s; /* IE 8 */
    width: 100%; /* IE 5-7 */
    -moz-opacity: 0; /* Good browsers */
    -khtml-opacity: 0;
}

.post-login-home-section .network-thumbnail.extra:hover .brd {
    filter: alpha(opacity=50); /* Netscape */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* Safari 1.x */
    opacity: .5; /* IE 8 */
    -moz-opacity: .5; /* IE 5-7 */
    -khtml-opacity: .5; /* Good browsers */
}

.borderradius .post-login-home-section .network-thumbnail.extra .brd {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/**********************************************************************************************************************\
    $NETWORK DETAILS
\**********************************************************************************************************************/

.network-details p {
    color: #999;
    font: 14px/17px 'share-regular', Arial, sans-serif;
    margin-bottom: 20px;
}

.section-content.h-scrollable .ofh {
    overflow: auto;
    width: 100%;
}

.section-content.h-scrollable .full-height-item {
    float: left;
}

.section-content.h-scrollable .content {
    position: relative;
    width: 100%;
}

.section-content.h-scrollable .controls {
    border-top: 1px solid #1c1a18;
    border-top: 1px solid #3e3835;
    bottom: 1px;
    height: 25px;
    left: 0;
    position: absolute;
    width: 100%;
}

.borderradius .section-content.h-scrollable .controls {
    border-radius: 3px;
}

.section-content.h-scrollable .controls .arrow {
    bottom: 0;
    margin-left: 0;
    margin-right: 3px;
    position: absolute;
}

.section-content.h-scrollable .controls .arrow.left {
    left: 0;
}

.section-content.h-scrollable .controls .arrow.right {
    right: 0;
}

.section-content.h-scrollable .controls .arrow em {
    padding-right: 12px;
}

.section-content.h-scrollable .controls .slider {
    background-color: #3a3531;
    border-bottom: 1px solid #151311;
    border-top: 1px solid #595653;
    bottom: 0;
    height: 20px;
    left: 27px;
    position: absolute;
}

.no-cssgradients .section-content.h-scrollable .controls .slider {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#433d39', endColorstr='#2b2623', GradientType=0); /* IE6-8 */
    zoom: 1;
}

.svg .section-content.h-scrollable .controls .slider {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQzM2QzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjI2MjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.cssgradients .section-content.h-scrollable .controls .slider {
    background: -moz-linear-gradient(top, rgba(67, 61, 57, 1) 0%, rgba(43, 38, 35, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(67, 61, 57, 1)), color-stop(100%, rgba(43, 38, 35, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(67, 61, 57, 1) 0%, rgba(43, 38, 35, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(67, 61, 57, 1) 0%, rgba(43, 38, 35, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(67, 61, 57, 1) 0%, rgba(43, 38, 35, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(67, 61, 57, 1) 0%, rgba(43, 38, 35, 1) 100%); /* W3C */
}

.borderradius .section-content.h-scrollable .controls .slider {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.cssgradients .section-content.h-scrollable .controls .slider i {
    border-bottom: 1px solid #595653;
    display: block;
    height: 3px;
    margin: 0 8px;
}

.cssgradients .section-content.h-scrollable .controls .slider i:first-child {
    border-top: 1px solid #595653;
    margin-top: 5px;
}

/**********************************************************************************************************************\
    $NICHES
\**********************************************************************************************************************/
.section-content .niches-products {
    margin: -2px 0 0 -2px;
}

.section-content .niches-product {
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #433d39;
    display: block;
    height: 68px;
    margin: 2px 0 0 2px;
    width: 130px;
}

/**********************************************************************************************************************\
    $CONTINUE & SKIP
\**********************************************************************************************************************/
.continue-skip-box {
    margin-bottom: 35px;
    text-align: center;
}

.continue-skip-box.ie .checkbox {
    text-align: left;
    margin-left: 10%;
}

.continue-skip-box .btn-green {
    display: block;
    background-color: #00a04a;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.continue-skip-box .btn-green:hover,
.continue-skip-box .btn-green:focus {
    background-color: #00AD50;
}

/**********************************************************************************************************************\
    $TITLED SECTION
\**********************************************************************************************************************/
.post-login-titled-section {
    margin: 15px 0;
    overflow: hidden;
}

.post-login-titled-section:first-child {
    margin-top: 0;
}

.boxshadow .post-login-titled-section {
    background-color: #2B2B2B;
}

.boxshadow .ie-shadow {
    display: none;
}

.no-boxshadow .post-login-titled-section {
    position: relative;
}

.no-boxshadow .post-login-titled-section .ie-shadow {
    background: #111;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius="3");
    height: 100%;
    left: -3px;
    position: absolute;
    top: -2px;
    width: 100%
}

.no-boxshadow .post-login-titled-section .section-content {
    background: #383330;
    position: relative;
}

.post-login-titled-section .section-content {
    padding: 29px;
}

.product-wc .post-login-right-column .post-login-titled-section .section-content {
    overflow: hidden;
    padding: 11px 0 29px 26px;
}

.product-wc .post-login-titled-section .section-content.content-feed {
    padding-right: 0;
}

.post-login-titled-section .section-content.offer {
    line-height: 14px;
    padding: 12px 0 12px 12px;
    border-right: solid 12px rgba(0, 0, 0, 0);
    overflow: hidden;
}

.section-content.offer.spotlight-top {
    padding: 10px;
}

.section-content.offer.spotlight-bottom {
    padding: 0 13px 13px;
}

.post-login-titled-section .section-subtitle {
    color: #ccc;
    font: 14px/17px 'share-italic', Arial, sans-serif;
    margin: 22px 0 10px;
    padding: 7px 10px 4px;
    text-transform: uppercase;
}

.post-login-titled-section .section-subtitle:first-child {
    margin-top: -15px;
}

.post-login-titled-section .section-content.offer .title {
    color: #b3b3b3;
    font-family: 'share-bold', Arial, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

.post-login-titled-section .section-content.offer .subtitle {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin-bottom: 25px;
    text-transform: none;
}

.post-login-titled-section .section-content.offer .order {
    background-color: #292522;
    padding: 9px 8px;
    position: relative;
    width: 163px;
}

.post-login-titled-section .section-content.offer .order .price {
    position: absolute;
    right: 16px;
}

.post-login-titled-section .section-content.offer .order .price.current {
    color: #ffb400;
    top: 8px;
}

.post-login-titled-section .section-content.offer .order .price.regular {
    color: #666666;
    font-size: 10px;
    top: 23px;
}

.post-login-titled-section .section-content.offer .order .offer {
    background-color: #ffb400;
    color: #333;
    display: block;
    font: 23px/1em 'share-bold', Arial, sans-serif;
    left: 100%;
    padding: 3px 8px 0;
    position: absolute;
    top: 8px;
    white-space: nowrap;
}

.post-login-titled-section .section-content.offer .order .offer .arrow {
    display: block;
    height: 11px;
    margin-top: -5px;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 6px;
}

.post-login-titled-section .link.action {
    color: #989898;
}

.post-login-titled-section .link.action:hover {
    color: #ef3424;
}

.post-login-titled-section .link.non-action {
    color: #989898;
}

.post-login-titled-section .link.non-action:hover {
    color: #ccc;
}

.post-login-titled-section .link .arrow {
    background-repeat: no-repeat;
    height: 10px;
    position: absolute;
    right: 12px;
    top: 9px;
    width: 10px;
}

.post-login-titled-section .link .arrow {
    background-position: -10px -10px;
}

.post-login-titled-section .link.non-action:hover .arrow {
    background-position: 0 -10px;
}

.post-login-titled-section .link.action:hover .arrow {
    background-position: -20px -10px;
}

.post-login-titled-section .group > .link.non-action .arrow {
    background-position: -10px 0;
}

.post-login-titled-section .group > .link.non-action:hover .arrow {
    background-position: 0 0;
}

.post-login-titled-section .group.expanded > .link.non-action .arrow {
    background-position: -10px -20px;
}

.post-login-titled-section .group.expanded > .link.non-action:hover .arrow {
    background-position: 0 -20px;
}

.post-login-titled-section .group {
    background-color: #433d39;
    border: 1px solid #2b2724;
    margin-top: 3px;
}

.post-login-titled-section .group:first-child {
    margin-top: 0;
}

.borderradius .post-login-titled-section .group {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.post-login-titled-section .group .link {
    display: block;
    font: 15px/18px 'share-italic', Arial, sans-serif;
    padding: 8px 10px 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.textshadow .post-login-titled-section .group .link {
    text-shadow: 0 -1px #000;
}

.post-login-titled-section .link .description {
    color: #808080;
    font-size: 12px;
    font-style: normal;
    padding-left: 4px;
    text-transform: none;
}

.post-login-titled-section .has-description .link {
    text-transform: none;
}

.textshadow .post-login-titled-section .has-description .link {
    text-shadow: none;
}

.post-login-titled-section .group .links-list {
    background-color: #332d2a;
    display: none;
}

.post-login-titled-section .group.expanded .links-list {
    display: block;
}

.post-login-titled-section .group.expanded li {
    border-top: 2px solid #2f2a27;
}

.post-login-titled-section .group.expanded li:first-child {
    border-top: 0;
}

.post-login-titled-section .group.expanded li a {
    font-family: 'share-regular', Arial, sans-serif;
    padding: 9px 10px 6px;
}

.post-login-titled-section .group.expanded + .group {
    margin-top: 18px;
}

/**********************************************************************************************************************\
    $CONTENT SHADOW
\**********************************************************************************************************************/
.boxshadow .post-login-titled-section .section-content > .shadow-box {
    box-shadow: 0 1px 7px 0 #111;
}

.boxshadow .post-login-titled-section .section-content > .shadow-box .ie-shadow {
    display: none;
}

.no-boxshadow .post-login-titled-section .section-content > .shadow-box .shadow-box-content {
    background-color: #383330;
    position: relative;
}

.no-boxshadow .post-login-titled-section .section-content > .shadow-box .ie-shadow {
    background: #111;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius="2");
    height: 100%;
    left: -2px;
    position: absolute;
    top: -1px;
    width: 100%
}

/**********************************************************************************************************************\
    $SCENES
\**********************************************************************************************************************/
.post-login-titled-section .scene-preview {
    margin: 16px 0 0;
    position: relative;
}

.post-login-titled-section .scene-preview:first-child {
    margin-top: 0;
}

.product-wc .post-login-titled-section .scene-preview {
    float: left;
    margin: 22px 19px 0 0;
    width: 183px;
}

.post-login-titled-section .scene-preview a,
.post-login-titled-section .scene-preview img {
    display: block;
}

.post-login-titled-section .info {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.post-login-titled-section .info .bg {
    background-color: #000;
    filter: alpha(opacity=75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    height: 100%;
    left: 0;
    opacity: .75;
    position: absolute; /* Netscape */
    top: 0; /* Safari 1.x */
    width: 100%; /* IE 8 */
    -moz-opacity: .75; /* IE 5-7 */
    -khtml-opacity: .75; /* Good browsers */
}

.post-login-titled-section .info .texts {
    color: #999;
    font: 11px/16px 'share-regular', Arial, sans-serif;
    margin: 6px 10px;
    position: relative;
}

.post-login-titled-section .info .title {
    font-family: 'share-bold', Arial, sans-serif;
    font-size: 12px;
}

.post-login-titled-section .info .subscription {
    color: #666;
    font-family: 'share-italic', Arial, sans-serif;
}

.post-login-titled-section .info time {
    bottom: 0;
    color: #ef3424;
    position: absolute;
    right: 0;
}

.post-login-main-nav li .badge {
    background: #007090;
    color: transparent;
    font-size: 0;
    right: 50px;
    position: absolute;
    top: 9px;
    font-weight: normal;
    text-shadow: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    padding: 0;
    min-width: 0;
}

@media screen and (max-width: 991px) {
    .post-login-main-nav li .badge {
        right: 5px;
    }
}

.post-login-main-nav li.active .badge {
    display: none;
}

/**********************************************************************************************************************\
    $MEDIA QUERIES
\**********************************************************************************************************************/
@media (min-width: 992px) {
    .container.post-login {
        width: 975px;
    }

    .post-login-main-nav li {
        margin-left: 4px;
        width: 309px;
    }

    .post-login-main-nav li:first-child {
        margin-left: 0;
    }

    .post-login-main-nav li.active {
        width: 316px;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*\
 * Simulator style
\*--------------------------------------------------------------------------------------------------------------------*/
.simulator-active > span {
    background-color: #EF5C46;
    border: 1px solid #EF5C46;
    color: #000;
    font-family: 'share-regular', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    height: 24px;
    padding: 2px 4px 1px 4px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
}

/**********************************************************************************************************************\
    $Extras
\**********************************************************************************************************************/
.channel-single-tile {
    padding: 10px;
}

.pp-extras-title {
    color: #ffffff;
    font: 16px/1em 'share-bold', Arial, sans-serif;
    margin-bottom: 15px;
}

.pp-extras-item-tile {
    border: solid 1px #383330;
    display: block;
    height: 112px;
    margin-right: 14px;
    position: relative;
    vertical-align: top;
}

.pp-extras-item-tile:last-child {
    margin-right: 0;
}

.pp-extras-item-tile:hover {
    background-color: #383330;
}

.pp-extras-item-tile a {
    display: block;
    height: 100%;
    padding: 5px;
    text-decoration: none;
}

.pp-extras-item-tile a .pp-tag-line {
    color: #6c6864;
    font: 16px/1em 'share-italic', Arial, sans-serif;
}

.pp-extras-logo {
    background: url(//ppp.contentdef.com/assets/gan/img/common/sprites/logos/bar-logos-sprite.png?v={build.id}) 0 0 no-repeat;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.bob_bar {
    background-position-x: -17px;
    background-position-y: -13px;
}

.bear_bar {
    background-position-x: -17px;
    background-position-y: -301px;
}

.tkch_bar {
    background-position-x: -295px;
    background-position-y: -159px;
}
/*--------------------------------------------------------------------------------------------------------------------*\
 * Survey
\*--------------------------------------------------------------------------------------------------------------------*/

.survey-content {
    padding: 12px;
}

/*--------------------------------------------------------------------------------------------------------------------*\
 * Full Default Banners
\*--------------------------------------------------------------------------------------------------------------------*/
#full-default-banners-slider-container #full-default-banners-slider .full-default-banner-slide,
#full-default-banners-slider-container .bx-wrapper {
    z-index: -1;
}

#full-default-banners-slider-container .bx-viewport {
    height: 100%;
}

.has-upgrade-promo-banner #full-default-banners-slider,
.has-upgrade-promo-banner #full-default-banners-slider-container .bx-wrapper,
.has-upgrade-promo-banner #full-default-banners-slider .full-default-banner-slide {
    top: 25px;
}

#full-default-banners-slider,
#full-default-banners-slider-container .bx-wrapper,
#full-default-banners-slider .full-default-banner-slide {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.has-upgrade-promo-banner .promo-container{
    top: 12px;
}

.has-upgrade-promo-banner.post-login-two-columns {
    margin: 60px auto 0;
}

/* New Tag */
.new-label-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.new-label {
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.new-label:before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-color: #0089e0 transparent transparent transparent;
    border-style: solid;
    border-width: 19px 12px 12px 0;
}


/* Tablet related fixes for full banner */

@media (max-width: 768px) {

    .channel-bottom-info {
        font-size: 10px;
        font-weight: normal;
        line-height: 36px;
    }

    .channel-bottom-info .purchase-link .price {
        right: 5px;
    }

    .channel-bottom-info .purchase-link.single-line {
        text-align: left;
        position: relative;
        /* font-size: 10px; */
        padding: 0 5px;
    }

    .channel-bottom-info .purchase-link .price.current {
        top: 13px;
        font: normal 10px/10px 'Open Sans', sans-serif;
    }

    .channel-bottom-info .purchase-link .price.regular {
        font-size: 8px;
        top: 11px;
        font-weight: 100;
    }

    .full-default-banner-slide {
        background-size: 170% !important;
    }

    .title-box:after {
        right: -23px;
    }
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.vod-gay-postlogin {
    width: 620px;
    min-height: 175px;
    margin-left: 10px;
    padding: 0 20px 20px 20px;
}

.vod-gay-postlogin ul {
    -webkit-padding-start: 0;
}

.vod-gay-postlogin header {
    margin-bottom: 10px;
    padding: 0;
}

.vod-gay-postlogin header p {
    font-size: 14px;
    float: left;
    color: #908f8d;
}

.vod-gay-postlogin header a {
    color: #aaaaaa;
    float: right;
    text-decoration: underline;
}

.vod-gay-postlogin .pp-extras-item-tile-vod {
    width: 170px;
    height: 104px;
    margin: 10px;
    display: inline-block;
    border: solid 1px #383330;
    position: relative;
    overflow: hidden;
}

.vod-gay-postlogin .pp-extras-item-tile-vod a {
    padding: 0;
}

.vod-dropdown-wrapper ul.dropdown-menu {
    min-width: 475px;
    max-width: 975px;
}

.vod-dropdown-wrapper ul.dropdown-menu > li {
    padding: 29px 29px 0 29px;
}

.vod-gay-section-content .channel-thumbnail {
    float: left;
    width: 174px;
    margin-right: 33px;
    margin-left: 0;
}

.vod-gay-section-content .channel-thumbnail:last-child {
    margin-right: 0;
}

.vod-gay-section-content .channel-thumbnail .thumbnail-content .logo-box {
    height: 300px;
    border-bottom: 1px solid #000000;
    width: 174px;
    padding: 3px 2px;
}

.vod-gay-section-content .channel-thumbnail .thumbnail-content a > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 100%;

    
}

.vod-gay-section-content .channel-thumbnail .thumbnail-content .channel-bottom-info a {
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .left-gan {
        width: 67%;
        display: inline-block;
        padding: 0;
        margin-right: 15px;
    }
    .right-gan {
        width: 29%;
        display: inline-block;
        padding: 0;
        vertical-align: top;
    }
    .post-login-home-section .section-body {
        padding: 15px 10px;
    }
    .vod-gay-section-content .channel-thumbnail {
        float: none;
        width: 31%;
        margin-right: 10px;
    }
    .vod-gay-section-content .channel-thumbnail .thumbnail-content .logo-box {
        height: auto;
        width: auto;
        padding: unset;
    }
    .vod-gay-section-content .channel-thumbnail .thumbnail-content a > img {
        position: unset;
        top: 50%;
        left: 50%;
        transform: unset;
        height: auto;
        width: 100%;
    }
    .section-content.offer > iframe {
        max-height: 200px;
    }
    .post-login-main-nav li .badge {
        right: 0;
    }

    .network-thumbnail {
        width: 31%;
    }

    .post-login-home-section .network-thumbnail .logo-box {
        width: 100%;
    }
}