/**********************************************************************************************************************\

    $BAR
    $LOGO
    $CENTER MENU
    $RIGHT MENU
    $USER MENU
    $SIMULATOR

\**********************************************************************************************************************/

/**********************************************************************************************************************\
    $BAR
\**********************************************************************************************************************/
.navbar-default {
    background-color: #000;
    border: 0;
    border-bottom: 2px solid #808080;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .navbar-default .container {
        width: 975px;
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: #191919;
    color: #ccc;
}

.navbar-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
    text-align: center;
}

.navbar-nav {
    height: 49px;
}

@media screen and (max-width: 768px) {
    .navbar-nav > li {
        position: unset;
    }
}

.navbar-nav > li:hover {
    color: #ccc;
}

.navbar-static-top .navbar-left {
    text-transform: uppercase;
}

.navbar-static-top .navbar-left .pp-sub-menu-ico {
    margin-right: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #656565;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #cccccc;
}

.navbar-left > .nav.navbar-nav > li {
    border-left: 2px solid #0F0F0F;
}

.navbar-left > .nav.navbar-nav > li:last-child {
    border-right: 2px solid #0F0F0F;
}

/**********************************************************************************************************************\
    $LOGO
\**********************************************************************************************************************/
.navbar-brand {
    margin-left: 0 !important;
    padding: 0;
}

.navbar-brand i {
    display: block;
    height: 46px;
    margin-top: 2px;
    width: 170px;
}

i.fallback {
    background-image: url('//ppp.contentdef.com/assets/gan/img/common/sprites/pp_gay_main_sprite.png?v={build.id}');
    background-position: -10px -95px;
}
i.fallback:hover {
    background-position: -10px -13px;
}

i.logo-gan {
    background-repeat: no-repeat;
    background-position: 0px -48px;
}

i.logo-gan:hover {
    background-position: 0 4px;
}

/**********************************************************************************************************************\
    $CENTER MENU
\**********************************************************************************************************************/
.navbar-nav.main-dropdown > li > a {
    color: #ccc;
    font: 400 15px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.navbar-default .navbar-nav.main-dropdown > li:hover > a,
.navbar-default .navbar-nav.main-dropdown > li > a:focus {
    color: #ccc;
}

.navbar-nav.main-dropdown .pp-menu-ico {
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/top-menu-sprite.png?v={build.id}') -118px -390px no-repeat;
    display: inline-block;
    height: 9px;
    margin-left: 7px;
    width: 10px;
}

.navbar-nav.main-dropdown > .dropdown.open .pp-menu-ico {
    background-position: -118px -429px;
}

/* channels and product page dropdown VOD look */

li.vod-dropdown-wrapper {
    background: linear-gradient(to bottom, #fd6154 0%,#fd3635 100%);
}

.vod-dropdown-wrapper ul.dropdown-menu {
    min-width: 620px;
}

.vod-dropdown-wrapper ul.dropdown-menu > li {
    padding-top: 29px;
    padding-right: 29px;
    padding-left: 0;
    padding-bottom: 0;
}

.vod-gay-postlogin {
    width: 620px;
    min-height: 175px;
    margin-left: 10px;
    padding: 0 20px 20px 20px;
}

.vod-gay-postlogin ul {
    -webkit-padding-start: 0;
    padding: 0;
}

.vod-gay-postlogin header {
    overflow: auto;
    margin-bottom: 10px;
    padding: 0;
}

.vod-gay-postlogin header p {
    font-size: 14px;
    float: left;
    color: #908f8d;
}

.vod-gay-postlogin header a {
    color: #aaaaaa;
    float: right;
    text-decoration: underline;
}

.vod-gay-postlogin .pp-extras-item-tile-vod {
    width: 170px;
    height: 104px;
    margin: 10px;
    display: inline-block;
    border: solid 1px #383330;
    position: relative;
    overflow: hidden;
}

.vod-gay-postlogin .pp-extras-item-tile-vod a {
    padding: 0;
}

.navbar-nav.nav.main-dropdown .premium-menu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b8100+0,614305+100 */
    background: #9b8100; /* Old browsers */
    background: -moz-linear-gradient(top, #9b8100 0%, #614305 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9b8100 0%,#614305 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9b8100 0%,#614305 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8100', endColorstr='#614305',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    cursor: pointer;
    color: #cccccc;
    font: 400 15px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0px;
}

.navbar-nav.nav.main-dropdown .premium-menu .pp-menu-txt {
    color: #cccccc !important;
    padding: 15px;
    font: 500 15px 'Open Sans', sans-serif;
}

.navbar-nav.nav.main-dropdown .premium-menu .pp-menu-ico {
    color: #cccccc !important;
    background-position: -118px -336px;
    height: 15px;
    width: 25px;
    margin-left: -10px;
}

/* end of channels and product page dropdown VOD look */

.dropdown-menu.mega-menu {
    right: 0;
    top: 48px;
    width: 560px;
}

@media screen and (max-width: 942px) {
    .pp-product-group {
        white-space: nowrap;
        overflow: hidden;
    }
}

.dropdown-menu.mega-menu > li {
    padding: 29px;
}

.dropdown-menu.mega-menu > li.channels-wrapper {
    padding: 19px;
}

.channels-row {
    margin: 0;
}

.mega-menu .pp-product-group {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mega-menu .row h5 {
    color: #CCC;
    font: 700 16px 'Open Sans', sans-serif;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
}

.pp-product-group > li {
    font: 400 13px/13px 'Open Sans', sans-serif;
    padding: 4px 2px 4px 3px;
    text-transform: uppercase;
}

.pp-product-group > li:hover {
    background-color: #343434;
}

.pp-product-group > li > a {
    color: #666666;
    display: block;
    text-decoration: none;
}

.pp-product-group > li:hover > a {
    color: #989898;
}

.pp-product-group > li > a > .icon {
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/top-menu-sprite.png?v={build.id}') 0 0 no-repeat;
    display: none;
    float: right;
    height: 15px;
    padding-right: 1px;
    width: 15px;
}

.pp-product-group > li:hover > a > .icon.locked {
    background-position: -118px -338px;
    display: block;
}

.pp-product-group > li:hover > a > .icon.unlocked {
    background-position: -112px -364px;
    display: block;
}

.pp-featured-network {
    border: 1px solid #383330;
    height: 144px;
    padding: 0;
    width: 262px;
}

/* new changes for generated sprite WEPPP-11866 */
.pp-featured-network > div {
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/logos/bar-logos-sprite.png?v={build.id}') no-repeat;
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 262px;
    height: 144px;
}

.pp-featured-network > div.empty-bg {
    background: none;
    display: block;
}

/**********************************************************************************************************************\
    $RIGHT MENU
\**********************************************************************************************************************/
.navbar {
    min-height: 46px;
}

.navbar-brand {
    height: 46px;
}

.navbar-right > li > a {
    margin: 0;
    position: relative;
}

.navbar-right .dropdown-toggle > .badge {
    background: #007090;
    color: #000;
    font-weight: normal;
    position: absolute;
    right: 7px;
    text-shadow: none;
    top: 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
}

.badge.filled {
    background: #007090;
}

.badge.empty {
    background-color: #CCC;
}

.notifications .badge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
}

.pp-menu-ico-notifications {
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/top-menu-sprite.png?v={build.id}') no-repeat;
    display: block;
    font: 400 12px/1em 'Open Sans', sans-serif;
    height: 23px;
    position: relative;
    text-align: center;
    width: 22px;
}

.pp-menu-ico-notifications.empty {
    background-position: -119px -186px;
}

.pp-menu-ico-notifications.filled {
    background-position: -119px -158px;
}

.pp-menu-ico-notifications span {
    color: #FFF;
    font: 600 12px/17px 'Open Sans', sans-serif;
    margin-left: -1px;
}

.pp-menu-ico-user {
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/top-menu-sprite.png?v={build.id}') -118px -195px no-repeat;
    display: block;
    height: 24px;
    position: relative;
    width: 25px;
}

a:focus .pp-menu-ico-user,
a:hover .pp-menu-ico-user {
    background-position: -118px -232px;
}

.dropdown-menu.user > li.notifications .badge {
    margin-left: 10px;
}

/**********************************************************************************************************************\
    $USER MENU
\**********************************************************************************************************************/
.dropdown-menu {
    background-color: #191919;
    border: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    margin-top: -1px;
    padding: 0;
}

.navbar-nav > li > .dropdown-menu.user {
    margin-top: -6px;
    min-width: 220px;
}

.dropdown-menu.user > li, .pp-vod-sub-menu .pp-menu-list > li {
    border-bottom: 1px solid #4D4D4D;
}

.dropdown-menu.user > li > a, .pp-vod-sub-menu .pp-menu-list > li > a {
    color: #989898;
    font: 400 13px 'Open Sans', sans-serif;
    padding: 10px 20px 10px 5px;
    position: relative;
    text-transform: uppercase;
}

.dropdown-menu.user > li > a.autologin {
    color: #989898;
}

.dropdown-menu.user > li > a:hover, .pp-vod-sub-menu .pp-menu-list > li > a:hover {
    background-color: #343434;
    color: #989898;
    text-decoration: none;
}

.pp-vod-sub-menu .pp-menu-list > li > a {
    display: block;
    padding-left: 40px;
}

.dropdown-menu.user > li.notifications {
    border-top: 2px solid #0097c3;
}

.pp-vod-sub-menu .pp-menu-list li:last-child {
    border-bottom: 2px solid #0097c3 !important;
}

.dropdown-menu.user > li:last-child {
    border-bottom: 0;
}

.pp-vod-sub-menu .pp-menu-list {
    padding: 0;
    list-style: none;
}

.pp-vod-sub-menu .pp-menu-list li {
    position: relative;
}

.pp-vod-sub-menu .pp-menu-list li span.pp-menu-list-item-ico-credit-card, .pp-vod-sub-menu .pp-menu-list li span.pp-menu-list-item-ico-vod {
    left: 5px;
    position: absolute;
    width: 40px;
}

.pp-vod-sub-menu .pp-menu-list li span.pp-menu-list-item-ico-credit-card {
    background: url('../../img/common/sprites/menu/top-menu-sprite.png?v={build.id}') -115px -411px no-repeat;
    height: 20px;
    top: 4px;
}

.pp-vod-sub-menu .pp-menu-list li span.pp-menu-list-item-ico-vod {
    background: url('../../img/common/sprites/menu/top-menu-sprite.png?v={build.id}') -115px -434px no-repeat;
    height: 20px;
    top: 4px;
}

.pp-vod-sub-menu .pp-menu-list .purchase-credits-btn {
    display: inline-block;
    position: absolute;
    right: 5px;
    padding: 6px 10px;
    background-color: #0098C5;
    border-radius: 3px;
    box-shadow: -1px 1px rgba(0, 0, 0, .7);
    color: white;
    line-height: 11px;
    font-size: 11px;
    font-family: "share-regular";
}

.pp-sub-menu-ico {
    background: url('//ppp.contentdef.com/assets/gan/img/common/sprites/top-menu-sprite.png?v={build.id}') no-repeat;
    display: inline-block;
    height: 20px;
    margin: 0 8px 0 4px;
    vertical-align: bottom;
    width: 20px;
}

.pp-sub-menu-ico.notifications {
    background-position: 0 -732px;
}

a:focus .pp-sub-menu-ico.notifications,
a:hover .pp-sub-menu-ico.notifications {
    background-position: 0 -732px;
}

.pp-sub-menu-ico.arrow {
    background-position: -112px -271px;
}

a:focus .pp-sub-menu-ico.arrow,
a:hover .pp-sub-menu-ico.arrow {
    background-position: -112px -271px;
}

.pp-sub-menu-ico.home {
    background-position: 0 -199px;
}

a:focus .pp-sub-menu-ico.home,
a:hover .pp-sub-menu-ico.home {
    background-position: 0 -199px;
}

.pp-sub-menu-ico.logout {
    background-position: 1px -274px;
}

a:focus .pp-sub-menu-ico.logout,
a:hover .pp-sub-menu-ico.logout {
    background-position: 1px -274px;
}

.pp-user-sub-menu a span {
    display: inline-block;
    vertical-align: middle;
}

/*--------------------------------------------------------------------------------------------------------------------*\
 * Simulator style
\*--------------------------------------------------------------------------------------------------------------------*/
.simulator-active > span {
    background-color: #EF5C46;
    border: 1px solid #EF5C46;
    color: #000;
    font-family: 'share-regular', Arial, sans-serif;
    font-size: 13px;
    font-weight: normal !important;
    height: 24px;
    padding: 2px 4px 1px 4px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
}