label.checkbox {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 3px 6px;
}

.dheader {
    &__title {
        text-align: center;
    }
}

.clearfix {
    &:after,
    &:before {
        clear: both;
        content: ' ';
        display: table;
    }
}

.main {
    margin: 0 auto;
}

.g-scroll0 {
    &::-webkit-scrollbar {
        width: 7px;
        padding: 15px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 7px;
        background: #387451;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background: #56D8A4;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #2EFFE6;
    }
}