@import 'global';

$links: 'blur', 'css', 'hosts', 'men', 'parser', 'timestamp', 'ttt';

.main {
    margin-top: 10%;
    max-width: 400px;
    padding: 0 30px;

    a {
        box-shadow: 0 0 3px 3px rgba($linkColor0, 0.5);
        display: block;
        margin: 10px;
        padding: 7px;
        text-align: center;

        &:before {
            background: transparent no-repeat top center;
            background-size: contain;
            content: '';
            display: block;
            height: 100px;
            width: 100%;
        }

        &:hover {
            box-shadow: 0 0 3px 3px rgba($linkColor1, 0.7);
        }

        @each $entry in $links {
            &.#{$entry}:before {
                background-image: url('#{$pathIcon}#{$entry}.png');
            }
        }

        @media (min-width: 480px) {
            float: left;
            width: calc(50% - 2*17px);
        }
    }
}
