@import 'global';

.aside, .main {
    box-shadow: 0 0 3px $colorWhite2;
    padding: 10px;

    &.loading {
        opacity: 0.3;
        pointer-events: none;
    }
}

.aside {
    left: 0;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100px;

    h2 {
        margin: 0 0 10px 0;
        padding: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            margin: 5px 0;
            padding: 5px;
            text-transform: uppercase;

            &:hover {
                box-shadow: 0 0 3px $colorWhite2;
            }

            &.active {
                color: #0F0;
                font-weight: bold;
            }
            &:not(.active) {
                cursor: pointer;
            }
        }
    }
}

.main {
    margin: 50px 10px 0 120px;
    padding: 10px;
    width: calc(100% - 150px);

    &__json {
        display: block;
    }


    section {
        border-top: 3px solid $colorWhite1;
        margin-top: 50px;
        padding-top: 5px;

        .template {
            display: none;
        }

        .content {
            article {
                display: inline-block;
                margin: 5px;
                position: relative;
                min-width: 239px;
            }
        }
    }
}