@import 'global';

$btnOnColor0: #0A0;
$btnOnColor1: #0F0;

$btnSendColor0: #932CA3;
$btnSendColor1: #C232D9;

.main {
    margin: 50px auto 0;
    width: 80%;

    .urls {
        margin-top: 15px;

        .buttons button {
            margin: 5px;
            padding: 5px 10px;
            
            &.add {
                border-color: $btnOnColor0;
                color: $btnOnColor0;

                &:hover {
                    border-color: $btnOnColor1;
                    color: $btnOnColor1;
                }
            }
            &.send {
                border-color: $btnSendColor0;
                color: $btnSendColor0;

                &:hover {
                    border-color: $btnSendColor1;
                    color: $btnSendColor1;
                }
            }
        }
    }

    #blocker {
        background: rgba(#000, 0.5) url('/asset/image/loading-circle.svg') center center no-repeat;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;

        &.hidden {
            display: none;
        }

        span {
            color: #FFF;
            display: block;
            font-weight: bold;
            pointer-events: none;
            position: relative;
            text-align: center;
            top: 55%;
            width: 100%;
        }
    }

    #domain {
        max-width: 550px;
        width: 100%;
    }

    #list {
        max-width: 550px;

        input {
            display: block;
            margin-top: 10px;
            width: 100%;

            &.template {
                display: none;
            }
        }
    }

    #results {
        .entry {
            border-bottom: 1px solid rgba(#FFF, 0.3);
            font-family: Courier New, Courier, Verdana, sans-serif;
            font-size: 12px;
            margin-top: 7px;
            padding: 3px;

            &:hover {
                background: #262626;
            }
            &.template {
                display: none;
            }

            .fullurl {
                color: #34bdeb;
                font-style: italic;
            }
            .url {
                color: #eb349f;
            }
            .url,
            .title,
            .robots {
                white-space: pre-wrap;
            }
        }
    }
}